form    {
    border: 0.7px solid grey;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-right: 60px;
    margin-left: 60px;
    padding: 8px;
}

#slt_format {
    margin-left: 10px;
}

.input {
    margin-left: 22px;
}

#sub   {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
